<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-900">New Observation</h1>
    <p class="mt-2 text-sm text-gray-700">
      For <%= link_to @subject.name, subject_path(@subject), class: "text-indigo-600 hover:text-indigo-900" %>
    </p>
  </div>

  <%= render "form", observation: @observation %>
</div>

